pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.0
fuzzywuzzy==0.18.0
requests==2.28.2
matplotlib==3.7.1
seaborn==0.12.2
xgboost==1.7.3
shap==0.41.0
geopy==2.3.0
python-Levenshtein==0.21.0
folium==0.14.0
IPython==8.12.0
